/* Achtergrond wolken bewegen */

main {
    background: url(../images/wolken3.jpg);
    background-position: 0px 0px;
    -webkit-animation: animatedBackground 30s linear infinite;
    animation: animatedBackground 30s linear infinite;
    background-attachment: fixed;
}

img.filtericon {
    display: none;
}

@-webkit-keyframes animatedBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 0;
    }
}

@keyframes animatedBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 0;
    }
}

#pagina1 {
    width: 100%;
    height: 49.5em;
}

#pagina2 {
    width: 100%;
    height: 49.5em;
}

#pagina3 {
    width: 100%;
    height: 49.5em;
    margin: 0em;
}


/* titel verhaal */

h1.Titel {
    display: block;
    font-family: tamarillo-jf, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 4em;
    margin: 0em;
    padding-top: 1em;
    padding-left: auto;
    padding-right: auto;
    letter-spacing: 0.15em;
    -webkit-filter: blur(1px);
    filter: blur(1px);
    color: #7c818d;
}


/* verhaal stijlen */


/* pagina 1 */

#pagina1 p {
    color: #ac9688;
    font-size: 1.2em;
    font-family: tornac, sans-serif;
    letter-spacing: 0.05em;
    -webkit-filter: blur(0.2px);
    filter: blur(0.2px);
    margin-left: 1em;
    margin-top: 1em;
}

#pagina1 .wazig {
    -webkit-filter: blur(0.9px);
    filter: blur(0.9px);
}

#pagina1 .deel2 p {
    padding-top: 4.5em;
    margin-left: 10em;
}

#pagina1 .deel3 p {
    padding-top: 4.5em;
    margin-left: 12em;
}


/* pagina 2 */

#pagina2 p {
    color: #ac9688;
    font-size: 1.2em;
    font-family: tornac, sans-serif;
    ;
    letter-spacing: 0.05em;
    -webkit-filter: blur(0.2px);
    filter: blur(0.2px);
    margin-left: 1em;
    margin-top: 1em;
}

#pagina2 .wazig {
    -webkit-filter: blur(0.9px);
    filter: blur(0.9px);
}

#pagina2 .deel2 p {
    padding-top: 4.5em;
    margin-left: 10em;
}

#pagina2 .deel3 p {
    padding-top: 4.5em;
    padding-left: 15em;
}


/* pagina */

#pagina3 p {
    color: #ac9688;
    font-size: 1.2em;
    font-family: tornac, sans-serif;
    ;
    letter-spacing: 0.05em;
    -webkit-filter: blur(0.2px);
    filter: blur(0.2px);
    margin-left: 1em;
    margin-top: 1em;
}

#pagina3 .wazig {
    -webkit-filter: blur(0.9px);
    filter: blur(0.9px);
}

#pagina3 .deel1 p {
    margin-right: 1em;
}

#pagina3 .deel2 p {
    padding-top: 4.5em;
    margin-left: 10em;
}

#pagina3 .deel3 p {
    padding-top: 4.5em;
    padding-left: 15em;
}


/* pagina 4 */

#pagina4 p {
    color: #ac9688;
    font-size: 1.2em;
    font-family: tornac, sans-serif;
    ;
    letter-spacing: 0.05em;
    -webkit-filter: blur(0.2px);
    filter: blur(0.2px);
    margin-left: 1em;
    margin-top: 1em;
}

#pagina4 .wazig {
    -webkit-filter: blur(0.9px);
    filter: blur(0.9px);
}

#pagina4 .deel2 p {
    padding-top: 4.5em;
    margin-left: 10em;
    margin-right: 1em;
}

#pagina4 .deel3 p {
    padding-top: 4.5em;
    padding-left: 15em;
    margin-bottom: 10em;
}


/* pagina 5 */

#pagina5 p {
    color: #ac9688;
    font-size: 1.2em;
    font-family: tornac, sans-serif;
    letter-spacing: 0.05em;
    -webkit-filter: blur(0.2px);
    filter: blur(0.2px);
    margin-left: 1em;
    margin-top: 1em;
}

#pagina5 .wazig {
    -webkit-filter: blur(0.9px);
    filter: blur(0.9px);
}

#pagina5 .deel2 p {
    padding-top: 4.5em;
    margin-left: 10em;
}

#pagina5 .deel2 p {
    margin-right: 1em;
}

#pagina5 .deel3 p {
    padding-top: 4.5em;
    padding-left: 15em;
    margin-right: 1em;
}


/* pagina 6 */

#pagina6 {
    margin-top: 10em;
    padding-bottom: 5em;
}

#pagina6 .reageren h4 {
    font-family: tornac, sans-serif;
    font-size: 1.5em;
    color: grey;
}

#pagina6 .reageren {
    text-align: center;
}

#pagina6 .reactie {
    width: 20em;
}

#pagina6 .plaatsReactie {
    margin-right: 3em;
    height: 2.5em;
    width: 12.5em;
    -webkit-box-shadow: ;
    box-shadow:
}

#pagina6 .plaatsReactie:hover {
    color: #fada35;
}

@media only screen and (max-width: 750px) {
    main {
        -webkit-animation: animatedBackground 50s linear infinite;
        animation: animatedBackground 50s linear infinite;
    }
    img.menuicon {
        padding-top: 6.5em;
    }
    #pagina1 .deel3 p {
        margin-right: 3em;
    }
    #pagina2 .deel1 p {
        margin-top: 3em;
        margin-left: 1em;
        margin-right: 2em;
    }
    #pagina2 .deel2 p {
        margin-right: 0.5em;
    }
    #pagina3 .deel1 p {
        margin-left: 2em;
        margin-right: 0.5em;
    }
    #pagina3 .deel3 p {
        margin-right: 0.5em;
    }
    #pagina4 .deel1 p {
        margin-left: 0.5em;
    }
    #pagina4 .deel3 p {
        margin-right: 1em;
    }
    #pagina5 .deel1 p {
        margin-top: 9em;
    }
    #pagina5 deel2 p {
        margin-right: 2em;
    }
    #pagina5 .deel3 p {
        padding-bottom: 5em;
        margin-right: 1em;
    }
}

@media only screen and (max-width: 450px) {
    main {
        -webkit-animation: animatedBackground 90s linear infinite;
        animation: animatedBackground 90s linear infinite;
    }
    img.filtericon {
        display: none;
    }
    #pagina1 p {
        font-size: 1em;
    }
    #pagina1 .deel1 p {
        margin-left: 1em;
        margin-right: 1em;
    }
    #pagina1 .deel2 p {
        margin-right: 1em;
    }
    #pagina1 .deel3 p {
        margin-left: 1em;
        margin-right: 0.5em;
        margin-bottom: 2em;
    }
    #pagina2 p {
        font-size: 1em;
    }
    #pagina2 .deel1 p {
        margin-top: 8em;
    }
    #pagina2 .deel2 p {
        margin-left: 2.5em;
    }
    #pagina2 .deel3 p {
        margin-right: 1em;
        margin-left: -2em;
    }
    #pagina3 p {
        font-size: 1em;
    }
    #pagina3 .deel1 p {
        margin-right: 0.5em;
    }
    #pagina3 .deel2 p {
        margin-right: 1em;
    }
    #pagina3 .deel3 p {
        margin-right: 1em;
        margin-left: -2em;
    }
    #pagina4 p {
        font-size: 1em;
    }
    #pagina4 .deel1 p {
        margin-left: 1em;
    }
    #pagina4 .deel2 p {
        margin-right: 0.5em;
        margin-left: 6em;
    }
    #pagina4 .deel3 p {
        margin-right: 1em;
        margin-left: -2.5em;
    }
    #pagina5 p {
        font-size: 1em;
    }
    #pagina5 .deel1 p {
        margin-right: 1em;
    }
    #pagina5 .deel2 p {
        margin-left: 3em;
    }
    #pagina5 .deel3 p {
        margin-left: -4em;
    }
}
